header {
  width: 100%;
  background-color: rgb(241, 1, 1);
  padding: 10px 20px;
  border-bottom: 1px solid #ffffff;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.musimundo{
  color: white;
}

.logo {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

nav li {
  position: relative;
}

nav a,
nav span {
  cursor: pointer;
  color: #ffffff;
}

nav a.active,
nav a:hover,
nav span:hover {
  font-weight: bold;
}



nav li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ffffff;
  padding: 5px 10px;
  margin: 0;
  list-style: none;
  min-width: 120px;
  z-index: 1000;
}

main {
  padding: 15px;
  box-sizing: border-box;
  min-height: calc(100vh - 50px - 30px);
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: red;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 0;
  list-style: none;
  min-width: 120px;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

footer {
  padding: 10px 20px;
  border-top: 1px solid #ffffff;
  text-align: center;
  font-size: 14px;
}
